<!DOCTYPE html>
<html lang="en">
<head>
	<title>Top Perfume</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static',filename='images/icons/favicon.png')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/linearicons-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/slick/slick.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/MagnificPopup/magnific-popup.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/perfect-scrollbar/perfect-scrollbar.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
<!--===============================================================================================-->

   <style>
		#map {
		height: 200px;
		width: 100%;
		}

		.a {
			font-size: 100px
		}

		table.scroll tbody {
		    height: 100px;
		    overflow-y: auto;
		    overflow-x: hidden;
		}

		table.scroll, th, td {
    		border-bottom: 2px black;
    		padding-right: 5px;
    		padding-left: 5px;
    		padding-top: 2.5px;
    		padding-bottom: 2.5px;
		}

		table.scroll tbody tr:hover td {
		  background-color: #FFEFC6;
		  cursor: pointer;
		}

    </style>

</head>
<body class="animsition" dir="rtl">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
<!--			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
 						Free shipping for standard order over $100
					</div>

					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							USD
						</a>
					</div>
				</div>
			</div> -->

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					

					<!-- Logo desktop -->		
			<!-- 		<a href="#" class="logo">
						<img src="{{url_for('static',filename='images/icons/logo-01.png')}}" alt="IMG-LOGO">
					</a> -->
					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a style="font-size: 23px;" href="{{url_for('home')}}">דף הבית</a>
							</li>
							<li>
								<a style="font-size: 23px;" href="{{url_for('shop')}}">חנות</a> 
									<ul class="sub-menu">
										<li>Brand</li>
									</ul>
							</li>
							<li>
								<a style="font-size: 23px;" href="{{url_for('about')}}">על אודות</a>
							</li>
							<li>
								<a style="font-size: 23px;" class="js-scroll-trigger zmdi" href="#contact">צור קשר</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
<!-- 						<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0"> 
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="0"> 
							<i class="zmdi zmdi-shopping-cart"></i>
						</div> -->
						
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>
					<h3 style="color: black;"> Top Perfume </h3>	

					</div>

				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><!-- <img src="{{url_for('static',filename='images/icons/logo-01.png')}}" alt="IMG-LOGO"> --> <h3 style="color: black;">Top Perfume</h3></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

<!-- 				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a> -->
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
<!-- 			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							EN
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							USD
						</a>
					</div>
				</li>
			</ul> -->

			<ul class="main-menu-m" style="background-color: #FE7C73;">
				<li>
					<a style="font-size: 23px;" href="{{url_for('home')}}">דף הבית</a>
				</li>

				<li>
					<a style="font-size: 23px;" href="{{url_for('shop')}}">חנות</a>
				</li>

				<li>
					<a style="font-size: 23px;" href="{{url_for('about')}}">על אודות</a>
				</li>

				<li>
					<a style="font-size: 23px;" href="#contact">צור קשר</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="{{url_for('static',filename='images/icons/icon-close2.png')}}" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart" dir="ltr">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{{url_for('static',filename='images/item-cart-01.jpg')}}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{{url_for('static',filename='images/item-cart-02.jpg')}}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{{url_for('static',filename='images/item-cart-03.jpg')}}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Body -->
	<br><br>
	<h4 style="padding-right: 8%;padding-top: 5%">ברוך שובך, ראמי.</h4>
	<h4 style="padding-right: 8%;"><a href="{{url_for('logout')}}">להתנתק</a></h4>
	<br><br>
	<h1 align="center"><u>ניהול</u></h1>
	<br><br>
	<div align="center">
		<table class="scroll">		<!-- PRODUCTS TABLE -->
			<h2 align="center">ניהול מוצרים :</h2>
	        <tr style="border-bottom: 2px solid black">
	            <th style="text-align: center;">תמונה</th>
	            <th style="text-align: center;">שם</th>
	            <th style="text-align: center;">דירוג</th>
	            <th style="text-align: center;">מין</th>
	            <th style="text-align: center;">מחיר</th>
	        </tr>
		    <tbody>
		    	{% if products %}
		    	{% for product in products %}
			        <tr style="border-bottom: 1px solid black" class='clickable-row' data-href="{{url_for('editProduct', id = product.id)}}">
			            <td>{{product.thumbnail}}</td> <!--Thumbnail-->
			            <td>  {{product.name}}  </td> <!--Name-->
			            {% if product.reviews %}
			            	<script type="text/javascript">
			            		var sum = 0;
			            		var c = 0;
			            		var productReviews = {{ product }}.reviews;
			            		for (review in productReviews){
			            			sum += review.rating;
			            			c++;
			            		}
			            		var avg = sum/c;
			            		print(avg);
			            	</script>
			            	<td> {{avg}} </td> <!--Rating-->
			            	
			            {% else %}
			            	<td> None </td>
			            {% endif %}
			            <td> {{product.gender}} </td> <!--Gender-->
			            <td> {{product.price}} </td> <!--Price-->
			        </tr>
			    {% endfor %}
			    {% endif %}
		    </tbody>
		</table>
		<a href="{{url_for('addProduct')}}"> Add </a>
	</div>
	<br>
	<br>
		<div align="center">
		<table class="scroll">		<!-- EMAILS NEWSLETTER TABLE -->
			<h2 align="center">ניהול אי-מיילים :</h2>
			<a href="{{url_for('copyEmails')}}">העתק כל האי-מיילים</a>
	        <tr style="border-bottom: 2px solid black">
	            <th style="text-align: center;">אי-מייל</th>
	            <!-- <th style="text-align: center;">מחוק</th> -->
	        </tr>
		    <tbody>
		    	{% if emails %}
		    	{% for email in emails %}
			        <tr style="border-bottom: 1px solid black">
			            <td>{{email.email}}</td> <!-- Email -->
			             <!-- Delete button  -->
					</tr>
			    {% endfor %}
			    {% endif %}
		    </tbody>
		</table>
<!-- 		<a href="{{url_for('addProduct')}}"> Add </a>
 -->	
	<br>
	<br>
		<table class="scroll">		<!-- REVIEWS / RATINGS TABLE -->
			<h2 align="center">ניהול מוצרים :</h2>
	        <tr style="border-bottom: 2px solid black">
	            <th style="text-align: center;">שם</th>
	            <th style="text-align: center;">אי-מייל</th>
	            <th style="text-align: center;">סקירה</th> 
	            <th style="text-align: center;">דירוג מתוך 5</th>
	            <th style="text-align: center;">תאריך</th>
	        </tr>
		    <tbody>
		    	{% if reviews %}
		    	{% for review in reviews %}
			        <tr style="border-bottom: 1px solid black" class='clickable-row' data-href="">
			            <td>{{review.name}}</td> <!--Name-->
			            <td>  {{review.email}}  </td> <!--Email-->
			            <td> {{review.review}} </td> <!--Review-->
			            <td> {{review.rating}} </td> <!--Rating-->
			            <td> {{review.date}} </td> <!--Date-->
			        </tr>
			    {% endfor %}
			    {% endif %}
		    </tbody>
		</table>

	
	</div>
	
	<br>
	<br>

	<script type="text/javascript">
		// Change the selector if needed
		var $table = $('table.scroll'),
		    $bodyCells = $table.find('tbody tr:first').children(),
		    colWidth;

		// Adjust the width of thead cells when window resizes
		$(window).resize(function() {
		    // Get the tbody columns width array
		    colWidth = $bodyCells.map(function() {
		        return $(this).width();
		    }).get();
		    
		    // Set the width of thead columns
		    $table.find('thead tr').children().each(function(i, v) {
		        $(v).width(colWidth[i]);
		    });    
		}).resize(); // Trigger resize handler
	</script>

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32" style="background-color: #FE7C73" id="contact">
		<div class="container">
			<div class="row">
				<!-- <div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>
					</ul>
				</div> -->

				<div class="col-sm-6 col-lg-4 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						צור קשר
					</h4>
					<form method="POST" action="{{url_for('home')}}">
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="name" placeholder="Name" style="color: white;">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="email" name="email" placeholder="email@example.com" style="color: white;">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="message" placeholder="Your Message" style="color: white;">
							<div class="focus-input1 trans-04"></div>
						</div>

<!-- 						<input type="checkbox" name="agreement" value="Agree" ><font style="font-size: 8px"> I agree to policy.</font><br>
 -->

						<div class="p-t-18">
							<button type="submit" class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								שלח
							</button>
						</div>

					</form>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

					</div>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						עלון
					</h4>
					<form method="POST" action="{{url_for('subscribe')}}">
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com" style="color: white;">
							<div class="focus-input1 trans-04"></div>
						</div>

<!-- 						<input type="checkbox" name="agreement" value="Agree" ><font style="font-size: 8px"> I agree to policy.</font><br>
 -->
						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								הירשם
							</button>
						</div>


					</form>
				</div>

			<div class="col-sm-6 col-lg-4 p-b-50">
				<h3 class="stext-301 cl0 p-b-30">
						אנחנו כאן!
					</h3>
					<div id="map" dir="ltr"></div>	
				   <script>
				      function initMap() {
				        var uluru = {lat: 32.709611, lng: 35.297253};
				        var map = new google.maps.Map(document.getElementById('map'), {
				          zoom: 4,
				          center: uluru
				        });
				        var marker = new google.maps.Marker({
				          position: uluru,
				          map: map
				        });
						google.maps.event.addListener(marker,'click',function() {
							var infowindow = new google.maps.InfoWindow({
						      content:"7024/4 St."
						    });
						  infowindow.open(map,marker);
						  });
				      }
				    </script>
				    <script async defer
				    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk_G0aI57R5H03EL7Ir_BJDEl1U8LoRtk&callback=initMap">
				    </script>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="{{url_for('static',filename='images/icons/icon-pay-01.png')}}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{{url_for('static',filename='images/icons/icon-pay-02.png')}}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{{url_for('static',filename='images/icons/icon-pay-03.png')}}" alt="ICON-PAY">
					</a>

<!-- 					<a href="#" class="m-all-1">
						<img src="{{url_for('static',filename='images/icons/icon-pay-04.png')}}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{{url_for('static',filename='images/icons/icon-pay-05.png')}}" alt="ICON-PAY">
					</a> -->
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="{{url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/slick/slick.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/slick-custom.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/parallax100/parallax100.js')}}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/MagnificPopup/jquery.magnific-popup.min.js')}}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/isotope/isotope.pkgd.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/sweetalert/sweetalert.min.js')}}"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript">
		jQuery(document).ready(function($) {
		    $(".clickable-row").click(function() {
		        window.location = $(this).data("href");
		    });
		});
	</script>


</body>
</html>